* {
  font-family: "Carter One", "Jua", "Poor Story", "Stylish", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: #222f3e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 10px 20px;
  background-color: #f1c40f;
  border: 3px solid black;
  font-size: 1.2rem;
  color: black;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1, 1.1);
}
